@font-face {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-Italic-VariableFont_wght.ttf');
    src: url('Raleway/Raleway-VariableFont_wght.ttf');

}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

main{
    margin-left: 50px;
    margin-right: 50px;

}


/* Propriétés du logo */
#logo {
    width: 100px;
}

/* Propriétés du menu de navigation */

  .logo{
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 100px;
    margin-left: 0px;
    order: 1;
  }

   .navbar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .menu-nav {
    margin: 40px 0;
    order: 2;
  }

  .menu-nav a {
    padding: 0px 30px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .menu-nav a:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
    padding-top: 30px;
    font-weight: bold;
  }

  .inscription{
   color: #0065FC;
   display: flex;
   align-items: center;
   padding: 0px 30px;
   order: 3;
  }


/* Champ rechercher */

    /* Titres */

.ChercherHbtitre {
    font-weight: bolder;
}

    /* Module de recherche */
search {
    padding-left: 50px;
}

.site-search {
    border:solid;
    border-color: #F2f2f2;
    border-width: 1px;
    background-color: rgb(250, 250, 250);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

input::placeholder{
    font-weight: bold;
    color:black;
}

/* Bouton Rechercher */

.Bouton_rechercher {
        background-color: #0065fc;
        border: none;
        color: white;
        margin-left: -4px;
        padding: 15px 15px;
        text-align: center;
        /* Retirer le soulignement */
        text-decoration: none; 
        display: inline-block;
        font-size: 16px;
        border-radius: 0px 45px 45px 0px;
    }
    
.Bouton_rechercher:hover{
    background-color: #3988ff;
}

/* Icone GPS */
    .icone_map {
        background-color: #f2f2f2;
        border: none;
        margin-right: -4px;
        padding-right: 15px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 17px;
        border-radius: 45px 0px 0px 45px;
    }


/* Section filtres */
    .filtres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
        width: 100%;
        /* justify-content: space-between;  */
    }
    
    .filtres_titre{
        font-size: 22px;
        margin-right: 25px;
    }

    .filtres_cercle{
        padding: 10px 10px 10px 10px;
        border-radius: 20px;
        background: #deebff;
    }

    .filtres_cercle:hover{
        background: #b6d2fc;
    }

    .filtres_nom{
        border: solid;
        border-color: #d9d9d9;
        border-width: 2px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 5px;
        padding-bottom: 8px;
        border-radius: 0px 45px 45px 0px;
        margin-left: -15px;
        font-size: 18px;
        font-weight: bold;
        /* Gérer la transparence de la bordure derrière le cercle */
        z-index: -1;
    }

    .filtres_element{
        display: flex;
        margin-right: 25px;
    }

    .filtres_element:hover{
        color: blue;
    }
    
/* Phrase informative */
    .info {
        margin-top: 50px;
    }

    /* Créer une transparence pour fond bleu de l'icone info */
    .fa-info-circle{
        margin-right: 10px;
        font-size: 15px;
        color: white;
        background-color: blue;

        /* Couper les coins qu'il reste */
        border-radius: 20px;
    }

    /* Containers */

    .section_contenair {
        display: flex;
    }

    .container {
        flex: 2;
        margin-top: 80px;
        background-color: #f2f2f2;
        border-radius: 25px;
        padding-left: 2em;
        padding-top: 2em;
        padding-right: 2em;
        padding-bottom: 4em;
        max-width: 1100px;
    }

    .container h2{
        margin-left: 20px;
    }

    .container h3 {
        margin-top: 40px;
        margin-bottom: -15px;
        margin-left: 20px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
        padding: 0.3em;
        border-radius: 25px;
        background-color: white;
        margin-top: 25px;
        -webkit-box-shadow: 2px 2px 14px 15px rgba(50, 50, 50, 0.21);
        -moz-box-shadow:    2px 2px 14px 15px rgba(50, 50, 50, 0.21);
        box-shadow:         2px 2px 14px 15px rgba(50, 50, 50, 0.21);
        width: calc(33% - 0,6em - 40px);
        max-width: 245px;
    }

    .card h4, .card p, .card div {
        margin: 0.3em;
    }

    .card_pic{
        width: 100%;
        max-height: 200px;
        border-radius: 25px 25px 0px 0px;
    }

    .fa-star, .far{
        color: blue;
    }

     /* Faire un break après 3 items */
    .break{
        flex-basis: 100%;
        height: 0;
    }

    /* Les plus populaires */

    .container2 {
        flex: 1;
        margin-top: 80px;
        margin-left: 40px;
        background-color: #f2f2f2;
        border-radius: 25px;
        padding-left: 2em;
        padding-top: 2em;
        padding-right: 2em;
        padding-bottom: 2em;
    }

    .cards2 {
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 25px;
        margin-top: 25px;
    }

    .card2 {
        -webkit-box-shadow: 2px 2px 14px 15px rgba(50, 50, 50, 0.21);
        -moz-box-shadow:    2px 2px 14px 15px rgba(50, 50, 50, 0.21);
        box-shadow:         2px 2px 14px 15px rgba(50, 50, 50, 0.21);
        flex-wrap: wrap;
        padding: 0.3em;
        border-radius: 25px;
        display: flex;
        background-color: white;
        margin-top: 75px;
    }

    .card2:nth-child(1) {
        margin-top: 20px;
    }

    .desc {
        margin-left: 25px;
        margin-top: -10px;
    }

    .card_pic2{
        width: 127px;
        height: 134px;
        border-radius: 25px 0px 0px 25px;
    }

    /* Section activités */
    
    .contenair_activités h2{
        margin-top: 50px;
        margin-left: 50px;
    }

    .contenair_activités_flex{
        border-radius: 25px;
        margin-top: 50px;
    }

    .cards_activités{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .activité_pic_verticale{
        border-radius: 25px 25px 0px 0px;
    }

    .card_activité_verticale{
        border-radius: 25px;
        -webkit-box-shadow: 2px 2px 14px 15px rgba(50, 50, 50, 0.21);
        -moz-box-shadow:    2px 2px 14px 15px rgba(50, 50, 50, 0.21);
        box-shadow:         2px 2px 14px 15px rgba(50, 50, 50, 0.21);
    }

    .card_activité_horizontale {
        border-radius: 25px;
        margin-left: 20px;
        margin-right: 20px;
        -webkit-box-shadow: 2px 2px 14px 15px rgba(50, 50, 50, 0.21);
        -moz-box-shadow:    2px 2px 14px 15px rgba(50, 50, 50, 0.21);
        box-shadow:         2px 2px 14px 15px rgba(50, 50, 50, 0.21);
    }

    .activité_horizontale_pic{
        border-radius: 25px 25px 0px 0px;
    }

    .card_activité_verticale h3, .card_activité_horizontale h3{
        margin-left: 15px;
        padding-bottom: 20px;
        margin-bottom: 0px;

    }

    .card_activité_horizontale:nth-child(1){
        margin-top: 0px;
        margin-bottom: 50px;
    }

    .card_activité_horizontale:nth-child(2){
        margin-bottom: 0px;
    }

    /* Footer */

    .footer_accueil {
        margin-top: 50px;
        background-color: #f2f2f2;
    }

    .footer_flex{
        background-color: #f2f2f2;
        display: flex;
        width: 100%;
    }

    .footer_flex2{
        display: flex;
        flex-direction: column;
    }

    .footer_flex2:nth-child(1){
        flex: 1;
        margin-left: 100px;
    }

    .footer_flex2:nth-child(2){
        flex: 1;
    }

    .footer_flex2:nth-child(3){
        flex: 1;
    }

    /* Résolution pour Iphone8 */
        @media only screen and (min-width: 320px)and (max-width:599px) {

            main{
                margin-left: 10px;
                margin-right: 10px;
            }

            .header{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                margin: 0px;
            }

            .navbar{
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
            }

            .logo{
                margin-left: 20px;
                order: 1;
            }

            .inscription {
                margin-right: 20px;
                order: 2;
            }

            .menu-nav{
                display: flex;
                width: 100%;
                margin: 0px;
                order: 3;
            }

            .menu-nav a {
                display: flex;
                justify-content: center;
                width: 50%;
                border-bottom: 2px solid #F2F2F2;
                padding: 30px 0px;
            }
          
            .menu-nav a:hover{
                border-top: none;
                border-bottom: 3px solid #0065FC;   
            }

            .logo .inscription{
                display: flex;
                flex-direction: row;
            }

            .icone_map{
                margin-left: 0px;
            }

            .site-search {
                margin-top: 20px;
                border:solid;
                border-color: #F2f2f2;
                border-width: 1px;
                background-color: rgb(250, 250, 250);
                text-align: center;
                font-size: 16px;
                padding-right: 5px;
                padding-left: 5px;
            }

            .Bouton_rechercher {
                display: none;
            }

            .Bouton_loupe{
                background-color: #0065fc;
                border: none;
                color: white;
                margin-left: -4px;
                padding: 15px 20px;
                text-align: center;
                margin-left: -25px;
                /* Retirer le soulignement */
                font-size: 16px;
                border-radius: 15px 15px 15px 15px;
            }

            .filtres{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 50px;
                justify-content: space-between;
                width: 100%;
            }

            .filtres_titre{
                width: 100%;
                margin-bottom: 15px;
            }

            .filtres_element{
                margin: 0px;
                margin-bottom: 7px;
                margin-top: 8px;
            }


            .section_contenair{
                display: flex;
                flex-direction: column;
                margin-top: 0px;
                /* margin-left: -10px;
                margin-right: -50px; */
            }

            .container{
                order: 2;
                margin-top: 40px;
                background-color: transparent;
                padding-left: 25px;
            }

            .container h2{
                margin-left: 0px;
            }           
            
            .container h3{
                margin-left: 0px;
                font-size: 22px;
            }

            .cards{
                margin-left: -15px;
                width: 335px;
            }

            .card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-width: 335px;
                min-height: 200px;
                padding-left: 0px;
                padding-right: 0px;
                margin-left: 0px;
                font-size: 14px;
            }

            .card_pic{
                width: 324px;
                height: 115px;
                padding-left: 5px;
            }

            .card_description{
                display: flex;
                flex-direction: column;
                padding-left: 3px;
            }

            .container2{
                order: 1;
                margin-top: 40px;
                margin-left: 0px;
                padding-left: 25px;
                border-radius: 0px;
                padding-right: 50px;
                
            }

            .cards2{
                margin-left: 0px;
            }

            .card2{
                width: 335px;
                height: 145px;
                padding: 0px;
            }

            .card_pic2{
                padding-top: 5px;
                padding-left: 3px;
                width: 127px;
                height: 134px;
                border-radius: 25px 0px 0px 25px;
            }

            .desc{
                margin-left: 15px;
            }

            .contenair_activités h2{
                margin-left: 20px;
            }

            .card_responsive{
                min-width: 333px;
                min-height: 190px;
                margin-top: 25px;
                margin-bottom: 25px;
            }

            .pic_responsive{
                min-width: 333px;
                min-height: 133px;
                max-height: 133px;
            }

            .card_activité_horizontale:nth-child(1){
                margin-bottom: 0px;
            }

            .footer_flex{
                background-color: #f2f2f2;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 30px;
                width: auto;
            }

            .footer_flex2{
                display: flex;
                flex-direction: column;
            }

            .footer_flex2:nth-child(1){
                margin-left: 0px;
            }
    }

